:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}

.content {
    display: grid;
    grid-template-rows: 2fr 12fr 2rem;

    height: 100%;

    align-items: center;
    justify-content: center;
}

header {
    justify-self: center;
}

.game-area {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    gap: 2rem;
}

.ships-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    border: 3px solid black;
    padding: 1rem 3rem;
}

.ships-container div {
    background-color: #03bb00;
    height: 2rem;
}

.ships-container div.placed {
    background-color: #0f7e0d;
}

#ship-1 {
    width: 10rem;
}

#ship-2 {
    width: 8rem;
}

#ship-3 {
    width: 6rem;
}

#ship-4 {
    width: 6rem;
}

#ship-5 {
    width: 4rem;
}

.board {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    border: 2px solid black;
}

.board > div {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.tile {
    width: 2rem;
    height: 2rem;
    border: 1px solid grey;
}

.tile.hover,
.tile.taken {
    background-color: #03bb00;
}

.tile.hit {
    background-color: #909090;
}

.tile.taken.hit {
    background-color: #d30d06;
}

main .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

main .button-div button {
    appearance: none;

    background-color: black;
    color: white;
    padding: 1rem 2rem;

    width: fit-content;
    height: 3.5rem;
    font-size: large;
    text-align: center;
    
    border-radius: 2rem 2rem 2rem 2rem;
    border: none;
}

main .button-div button:active {
    filter: brightness(50%);
}

footer {
    justify-self: center;
}