:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}

.content {
    display: grid;
    grid-template-rows: 2fr 12fr 2rem;

    height: 100%;

    align-items: center;
    justify-content: center;
}

header {
    justify-self: center;
}

.game-area {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    gap: 2rem;
}

.board {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    border: 2px solid black;
}

.board > div {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.tile {
    width: 2rem;
    height: 2rem;
    border: 1px solid grey;
}