:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}

.content {
    display: grid;
    grid-template-rows: 2fr 12fr 2rem;

    height: 100%;

    align-items: center;
    justify-content: center;
}

header {
    justify-self: center;
}

.game-area {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    gap: 2rem;
}

.ships-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    border: 3px solid black;
    padding: 1rem 3rem;
}

.ships-container div {
    background-color: #03bb00;
    height: 2rem;
}

#ship-1 {
    width: 10rem;
}

#ship-2 {
    width: 8rem;
}

#ship-3 {
    width: 6rem;
}

#ship-4 {
    width: 6rem;
}

#ship-5 {
    width: 4rem;
}

.ships-container div[placed="true"] {
    background-color: #0f7e0d;
}

.board {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    border: 2px solid black;
}

.board > div {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.tile {
    width: 2rem;
    height: 2rem;
    border: 1px solid grey;
}

footer {
    justify-self: center;
}